<app-navbar text="Profile"></app-navbar>
<main>
  <ng-container class="container">
    <form>
      <div class="form-group col-md-12">
        <button class="form-control btn btn-primary" (click)="isAdding = true">Add new student</button>
        <div class="container" style="margin: 1em;">
          <form #f="ngForm" (ngSubmit)="addStudent(f)">
            <div class="form-group row">
              <label for="level" class="col-3">إختيار الصف</label>
              <select [(ngModel)]="addForm.level" required name="level" class="form-control col-8">
                <option value="all">- - - </option>
                <option value="bt1-nursing">bt1-nursing</option>
                <option value="bt3-nursing">bt3-nursing </option>
                <option value="bt-accounting">bt-accounting </option>
              </select>
            </div>
            <div class="form-group row">
              <label for="name" class="col-3">الاسم</label>
              <input [(ngModel)]="addForm.name" name="name" type="text" id="name" class="form-control col-8" autocomplete="off">
            </div>
            <div class="form-group row">
              <label for="id" class="col-3">ID</label>
              <input [(ngModel)]="addForm.id" name="id" type="text" id="id" class="form-control col-8" autocomplete="off">
            </div>
            <button class="btn btn-warning btn-block">Add</button>
          </form>
        </div>
      </div>

      <div class="form-group col-md-12">
        <label for="class">إختيار الصف</label>
        <select (change)="fetchStudentsByLevel()" required name="class" class="form-control" [(ngModel)]="level">
          <option value="all">- - - </option>
          <option value="bt1-nursing">bt1-nursing</option>
          <option value="bt3-nursing">bt3-nursing </option>
          <option value="bt-accounting">bt-accounting </option>
        </select>
      </div>
    </form>
  </ng-container>

  <div class="container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#{{ students?.length }}</th>
          <th scope="col">Password</th>
          <th scope="col">Name</th>
          <th scope="col">Level</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let std of students">
          <th scope="row">{{std.id}}</th>
          <td>{{std.password}}</td>
          <td>{{std.name}}</td>
          <td>{{std.level}}</td>
          <td><button class="btn" (click)="deleteStudent(std)">Delete</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
