<div class="sections">
  <section (click)="redirect('correction')">
    <i class="fas fa-check" style="color:rgb(129, 0, 180); font-size: 2em"></i>
    <h2>تصحيح امتحان</h2>
  </section>

  <section (click)="redirect('quiz')">
    <i class="fas fa-book" style="color:rgb(255, 88, 28); font-size: 2em"></i>
    <h2>إضافة امتحان</h2>
  </section>

  <section (click)="redirect('profile')">
    <i class="fas fa-users-class" style="color: rgb(47, 79, 255); font-size: 2em"></i>
    <h2>ملف الطلاب</h2>
  </section>

</div>
