<app-navbar text="Dashboard"></app-navbar>
<ng-container>
      <div class="container" id="quiz">
        <div class="container-header">
            <h1 id="question">Question</h1>
            <dl>
                <dd>
                    <input type="radio" name="answer" id="a" class="answer">
                    <label for="a" id="a_text"></label>
                </dd>
                <dd>
                    <input type="radio" name="answer" id="b" class="answer">
                    <label for="b" id="b_text"></label>
                </dd>
                <dd>
                    <input type="radio" name="answer" id="c" class="answer">
                    <label for="c" id="c_text"></label>
                </dd>
                <dd>
                    <input type="radio" name="answer" id="d" class="answer">
                    <label for="d" id="d_text"></label>
                </dd>
            </dl>
        </div>
        <button id="submit">Submit</button>
    </div>
</ng-container>
