<app-navbar [text]="subject"></app-navbar>
<div class="container"  *ngIf="submissions">
<h2>{{ student?.name }}</h2>

  <div class="card" *ngFor="let sub of submissions; let i = index" style="margin: 1em 0; background-color: transparent;">
    <div class="card-header" [id]="i">
      <h2>
        <button class="btn btn-link" type="button" (click)="showCorrectionForm(sub.date, i)">
          {{ sub.date }}
        </button>
      </h2>
    </div>

    <div [id]="i" *ngIf="showForm === i">
      <div class="card-body">
        <form #f="ngForm" (ngSubmit)="submitMark(f)">
            <div *ngFor="let data of formData; let j = index"
            style="margin-bottom: 2em;">
              <h5 class="jumb">{{data.question}}</h5>
              <h6 class="jumb"
              style="color: #888; background-color: #eee;">{{data.answer}}</h6>
              <input ngModel type="number" class="form-control" name="{{j}}">
            </div>
            <button type="submit" class="btn btn-primary btn-block">Submit</button>
        </form>
      </div>
    </div>
  </div>
