<app-navbar text="correction"></app-navbar>
<main>
  <ng-container>
    <form>
      <div class="form-group col-md-12">
        <label for="class">إختيار الصف</label>
        <select required name="class" class="form-control" [(ngModel)]="level" (change)="getSubjects($event)">
          <option value="-">- - - </option>
          <option value="bt1-nursing">bt1-nursing</option>
          <option value="bt3-nursing">bt3-nursing </option>
          <option value="bt-accounting">bt-accounting </option>
        </select>
      </div>

      <div class="form-group col-md-12">
        <label for="subject">إختيار المادة</label>
        <select required name="subject" class="form-control" [(ngModel)]="subject" (change)="getStudents()">
          <option *ngFor="let sub of subsNames" [value]="sub.key">{{sub.value}}</option>
        </select>
      </div>
    </form>
  </ng-container>

  <div class="container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let std of students">
          <th scope="row">
            <a [routerLink]="['student', std.id, subject]">{{std.id}}</a>
          </th>
          <td>{{std.name}}</td>
        </tr>
      </tbody>
    </table>
  </div>

</main>
